In [48]:
import os
os.getcwd()
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [6]:

df = pd.read_csv (r'.\train.csv')

In [7]:
df.head(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2008,WD,Normal,118000

In [14]:
data1 =  pd.get_dummies(df)
print(type(data1))

<class 'pandas.core.frame.DataFrame'>

In [15]:
data1.shape

(1460, 290)

In [16]:
data1.head(10)

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,0,0,1,0,0,0,0,1,0
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,0,0,0,1,0,0,0,0,1,0
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,0,0,1,0,0,0,0,1,0
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,0,0,1,1,0,0,0,0,0
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,0,0,0,1,0,0,0,0,1,0
5,6,50,85.0,14115,5,5,1993,1995,0.0,732,...,0,0,0,1,0,0,0,0,1,0
6,7,20,75.0,10084,8,5,2004,2005,186.0,1369,...,0,0,0,1,0,0,0,0,1,0
7,8,60,NaN,10382,7,6,1973,1973,240.0,859,...,0,0,0,1,0,0,0,0,1,0
8,9,50,51.0,6120,7,5,1931,1950,0.0,0,...,0,0,0,1,1,0,0,0,0,0
9,10,190,50.0,7420,5,6,1939,1950,0.0,851,...,0,0,0,1,0,0,0,0,1,0

In [45]:
data1_estimate = data1.iloc[1:1200,]

In [46]:
data1_estimate.shape

(1199, 290)

In [61]:
model = LinearRegression( n_jobs =-1)

In [66]:
x = data1_estimate.loc[:,("LotArea", "YearRemodAdd")]
y =  data1_estimate.loc[:,"SalePrice"]

model.fit(x, y )

LinearRegression(n_jobs=-1)

In [67]:
r_sq = model.score(x, y )
print(f"coefficient of determination: {r_sq}")

coefficient of determination: 0.3288517367685799

In [68]:
print(f"intercept: {model.intercept_}")
intercept: 5.633333333333329

print(f"slope: {model.coef_}")

intercept: -3820100.9486861173
slope: [2.00389136e+00 2.00523161e+03]

In [77]:
print(model.coef_)
print(model.intercept_)
print(x)

[2.00389136e+00 2.00523161e+03]
-3820100.9486861173
      LotArea  YearRemodAdd
1        9600          1976
2       11250          2002
3        9550          1970
4       14260          2000
5       14115          1995
...       ...           ...
1195     8029          2005
1196    14054          2006
1197     8850          1950
1198     9100          2001
1199    11235          1979

[1199 rows x 2 columns]

In [80]:
y_pred = model.intercept_ + model.coef_ * x
print(y_pred)

           LotArea  YearRemodAdd
1     19237.357085  3.962338e+06
2     22543.777834  4.014474e+06
3     19137.162517  3.950306e+06
4     28575.490836  4.010463e+06
5     28284.926589  4.000437e+06
...            ...           ...
1195  16089.243754  4.020489e+06
1196  28162.689216  4.022495e+06
1197  17734.438563  3.910202e+06
1198  18235.411403  4.012468e+06
1199  22513.719463  3.968353e+06

[1199 rows x 2 columns]